<img src="https://media.giphy.com/media/ZaF5ecBGv9np9oX3vH/source.gif" alt="giphy Patrick eating burgers" />

<div id="burgerToEat">
    <h3>Burgers To Eat!</h3>

    {{#each burgers}}
    {{#unless devoured}}

    <div id="text">
        <p>{{id}}. {{burger_name}}</p>
    </div>
    <div id="buttons">
        <button data-id="{{id}}" class="devoure">Devoure it!</button>
    </div>

    {{/unless}}
    {{/each}}
</div>

<div id="devouredBurgers">
    <h3>Devoured Burgers!</h3>

    {{#each burgers}}
    {{#if devoured}}
    <div id="text">
        <p>{{id}}. {{burger_name}}</p>
    </div>
    <div id="buttons">
        <button data-id="{{id}}" class="delete">Delete</button>
    </div>

    {{/if}}
    {{/each}}
</div>

<form>
    <input type="text" id="addBurger">
    <button type="submit" id="submit">Submit</button>
    <p>Enter a burger you want to eat and click the "submit" button</p>
</form>